alabaster==0.7.9
argcomplete==1.0.0
astroid==1.4.7
astropy==1.2.1
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.1
bitarray==0.8.1
blaze==0.10.1
bokeh==0.12.2
boto==2.42.0
Bottleneck==1.1.0
cffi==1.7.0
ChatterBot==0.5.1
chest==0.2.3
click==6.6
cloudpickle==0.2.1
colorama==0.3.7
configobj==5.0.6
contextlib2==0.5.3
cryptography==1.5
fbchat==0.5.0
filelock==2.0.6
Flask==0.11.1
Flask-Cors==2.1.2
gunicorn==19.6.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
locket==0.2.0
lxml==3.6.4
MarkupSafe==0.23
matplotlib==1.5.3
nbconvert==4.2.0
networkx==1.11
pathlib2==2.1.0
requests==2.11.1
requests-oauthlib==0.7.0
selenium==3.0.2
virtualenv==15.1.0

